.App{
    display: flex;
    align-items: center;
    justify-content: space-between;
    .sidebar{
        width: 35%;
        display: flex;
        flex-direction: column;
        height: 100vh;
        border-right: 1px solid #ddd;
    }
    .chats__Section{
        flex: 1;
        display: flex;
        flex-direction: column;
        height: 100vh;
    }
}